{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
{% block menu %}{% endblock %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="card-title mb-0">Mot de passe oublié</h3>
                </div>
                <div class="card-body p-4">
                    <a href="{{ path('app_home') }}" class="text-decoration-none">
                        {# <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 512 512" class="mb-3">
                            <path fill="#63E6BE" d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-320c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3l0 41.7 0 41.7L459.5 440.6zM256 352l0-96 0-128 0-32c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-64z"/>
                        </svg> #}
                    </a>

                    {{ form_start(forgetPassword, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                        <div class="mb-3">
                            {{ form_row(forgetPassword.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                        </div>
                    {{ form_end(forgetPassword) }}
                </div>
                <div class="card-footer text-center bg-light">
                    <p class="mb-0">Vous avez déjà un compte? <a href="{{ path('app_login') }}" class="text-primary">Connectez-vous</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center w-75 mx-auto mt-4">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}