{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Projets en cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ project.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ project.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ project.beginDate ? project.beginDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Estimation de fin</th>
                <td>{{ project.estimateEnddate ? project.estimateEnddate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Terminé</th>
                <td>{{ project.isFinished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Coût</th>
                <td>{{ project.cost }}</td>
            </tr>
            <tr>
                <th>Réussi</th>
                <td>{{ project.isSuccess ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

                        <a href="{{ path('app_project_index') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Retour
                        </a>



    {{ include('project/deleteProjectform.html.twig', {'project': project}) }}

{% endblock %}
